/* created by Ariyibi Baseet */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/pattern-background-desktop.svg");
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;
}

/* created by Ariyibi Baseet */
.order-summary-card {
  max-width: 350px;
  border-radius: 15px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 2px 3px 8px hsl(224, 23%, 55%);
  box-sizing: border-box;
}

/* Done by Nnanna Echi(CENSmart) */
.content-down .summary-text {
  text-align: center;
  font-size: 25px;
  display: block;
  font-weight: 900;
}

/* done by Gomina Maryam */
.img-hero-top {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

/* ----------------------------------------------------------------------------------------------- */

/* Added by ODIETE OG. GREAT */

.plan-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(225, 100%, 98%);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

/* Added by Yusuf Isioye */

.proceed-btn:hover {
  background-color: hsl(224, 23%, 55%);
  transition: 300ms ease-in-out;
}

.cancel-order {
  margin-top: 10px;
  display: block;
  text-align: center;
  cursor: pointer;
}


/* Done by Simon G. */
.plan > .annual-text{
  text-align: center;
  font-weight:bolder;
}


/* created by Ariyibi Baseet */

@media screen and (max-width: 375px) {
  body {
    background-image: url("../images/pattern-background-mobile.svg");
    background: hsl(225, 100%, 94%);
    width: 100%;
  }
}
