/* created by Ariyibi Baseet */
body{
    margin:0;
    padding:0;
    width:100%;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    background-image: url('../images/pattern-background-desktop.svg');
    background-color:hsl(225, 100%, 94%);
    background-repeat: no-repeat;
}